@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 44%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 216 92% 60%;
    --chart-3: 212 95% 68%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
    --radius: 0.5rem;
  }

  
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

::selection{
  background-color: hsl(221.2 ,83.2% ,53.3%);
  color: white;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth !important;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
      scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}


.content-grid {
--padding-inline: 1rem;
--content-max-width: 1400px;
--breakout-max-width: 1920px;

--breakout-size: calc(
  calc(var(--breakout-max-width) - var(--content-max-width)) / 2
);

display: grid;
grid-template-columns:
  [full-width-start] minmax(var(--padding-inline), 1fr)
  [breakout-start] minmax(0, var(--breakout-size))
  [content-start] min(
    100% - calc(var(--padding-inline) * 2),
    var(--content-max-width)
  )
  [content-end]
  minmax(0, var(--breakout-size)) [breakout-end]
  minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
grid-column: content;
}

.content-grid > .breakout {
grid-column: breakout;
}

.content-grid > .full-width {
grid-column: full-width;

display: grid;
grid-template-columns: inherit;
grid-template-rows: min-content auto ;
}


input{
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
}

button{
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 0);
  color: white;
}

tr{
  margin-left: 10px;
}

thead > tr{
  background-color: rgba(163, 163, 163,0.8);

}
tbody > tr:nth-child(2n){
  background-color: rgba(163, 163, 163,0.2);
}

.bg-image{
  background:  radial-gradient(circle,transparent,hsla(210 ,40%, 98%, 0.5) 60%, hsl(210 40% 98%) 140%), 
  linear-gradient(hsla(0, 0%, 0%, 0.3),hsla(0, 0%, 0%, 0.3)), 
  url(../public/Assets/hero-image.jpg);
  /* background-blend-mode: difference; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.highlight {
	position: relative;
	background-position: left;
  background-size: 0% 100%;
  background-image: linear-gradient( hsl(221.2 83.2% 53.3%), hsl(221.2 83.2% 53.3%));
	background-repeat: no-repeat;
  transition: background-size 1s;
	padding: 4px;
  animation-name: highlighter;
  animation-timing-function: ease-in-out;
  animation-timeline: view();
  animation-range: contain cover 50%;
  animation-fill-mode: forwards;

}

@keyframes highlighter {
  to {
    background-size: 100% 100%;
  }
}


/* .disease > li:hover {
  color: blue;

} */


.form__label {
  cursor: pointer;
  position: relative;
  text-align: left;
  width: 100%;
  transition: all 0.2s ease;
}


.Toastify__progress-bar--success{
  background-color: hsla(221.2 83.2% 53.3% 1)!important;
}
.Toastify__progress-bar {
  background-color: hsl(221.2 83.2% 53.3%)!important;
}
.Toastify__progress-bar-theme--light{
  background-color: hsl(221.2 83.2% 53.3%)!important;
}





